@model IEnumerable<PCH_LESSON09.Models.Ketqua>

@{
    ViewBag.Title = "PchIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("PchCreate New", "PchCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoSV)
        </td>
        <td>
            @Html.ActionLink("PchEdit", "PchEdit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("PchDetails", "PchDetails", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("PchDelete", "PchDelete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
